header{
    z-index: 100;
    .navbar-brand{
        @media screen and (max-width: 400px){
            max-width: 150px;
        }
        img{
            max-width: 100%;
        }
    }
}