// File: pages/contact.scss

// This file contains all styles related to the list page.

/* CONTACT STYLES START HERE */
@use '../utils/mixins';

#hero--contact{
    @include mixins.centerContentHorizontallyandVertically;
    padding: 80px 20px;
}
#form--contact{

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        max-width: 650px;
        margin: 0 auto;
        .form-group{
            margin-bottom: 1rem;
        }
        label{
            margin-bottom: 0.5rem;
        }
        .btn.btn-primary{
            background: linear-gradient(25deg, rgba(21, 55, 209, 0.58) 0%, rgb(39, 82, 205) 70%);
            border-radius: 4px;
            &:hover{
                background-color: #030e1f;
            }
        }
    }
}
#map--contact{
    .map{
        min-height: 450px;
    }
}
#social--contact{
    text-align: center;
    .socialContainer{
        a img{
            width: 50px;
            height: 50px;
        }
    }
}
/* CONTACT STYLES END HERE */