// File: pages/details.scss

// This file contains all styles related to the details page.

/* DETAILS STYLES START HERE */
#product--details{
    padding-top: 50px;
    padding-bottom: 50px;
    .productGallery{
        .miniatureImg{
            width: 18%;
            margin-right: 2.5%;
            height: auto;
            &:last-child{
                margin-right: 0;
            }
        }
        .activeImg{
            border-style: solid;
            border-width: 2px;
            border-color: #2f75f7;
        }
        
    }
    .productDescription{

        h1{
            font-weight: 700;
            font-size: 2.5rem;
        }
        button{
            text-decoration: none;
            background-color: black;
            color: white;
            width: fit-content;
            padding: 10px;
            margin-top: 10px;
            display: block;
            width: 80%;
        }
    }
    
}
#social--details{
    padding: 20px;
    text-align: center;
}
.modal{
    .close{
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
        background-color: transparent;
        border: 0;
        -webkit-appearance: none;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }
}
/* DETAILS STYLES END HERE */