// File: pages/list.scss

// This file contains all styles related to the list page.

/* LIST STYLES START HERE */
@use '../utils/mixins';

#hero--products{
    @include mixins.centerContentHorizontallyandVertically;
    padding: 80px 20px;
}
#grid--products{
    img{
        max-width: 100%;
    }
    .section__container{
        .productsContainer{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
            grid-gap: 20px;
            align-items: stretch;
        }
        .productCard{
            box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
            border-width: 1px;
            border-color: #cccccc;
            border-style: solid;
            .cardImage{
                display: flex;
                justify-content: center;
                img{
                    height: auto;
                }
            }
            .cardDescription{
                padding: 20px;
            }
            a{
                text-decoration: none;
                background-color: black;
                color: white;
                width: 80%;
                text-align: center;
                padding: 10px;
                align-self: center;
                display: block;
                width: 100%;
            }
        }
    }
}
/* LIST STYLES END HERE */
