// File: pages/layout.scss

// This file contains all styles related to the grid page layouts.

/* LAYOUT STYLES START HERE */
.homeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}
.aboutContainer{
    @extend .homeContainer;
}
.contactContainer{
    @extend .homeContainer;
}
.productlistContainer{
    @extend .homeContainer;
}
.detailsContainer{
    @extend .homeContainer;
}
/* LAYOUT STYLES END HERE */